page-login {
    .myView{
        background-image: url('../assets/imgs/fv.jpg');
        background-size: cover;
        }
    h3{
        color:white;
        text-align: center;
        font-size: 30px;
        top:20%;
    }
    img{
        width: 30%;
        margin-left: 35%;
    }      
    #loginField, #passwordField,.item{
        background-color: white;

    }
}
