page-note {
    .btn-note {
        float: right;
        padding:7px 5px;
        background:none;
    }
    ion-item{
        color: #fed746 !important;
        font-size: 10px;
        font-weight: 500;
    }
}
